<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>923936732452-g24as2bfh8144qqvif7vgq1kdm5h14t1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923936732452-g24as2bfh8144qqvif7vgq1kdm5h14t1</string>
	<key>API_KEY</key>
	<string>AIzaSyBQVC1dXqpRd7nsYA0ZsLMzAq2WeG0GUw0</string>
	<key>GCM_SENDER_ID</key>
	<string>923936732452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.wallacorp.STRV-Weather</string>
	<key>PROJECT_ID</key>
	<string>strv-weather-91feb</string>
	<key>STORAGE_BUCKET</key>
	<string>strv-weather-91feb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923936732452:ios:76b7d4893fb07c70</string>
	<key>DATABASE_URL</key>
	<string>https://strv-weather-91feb.firebaseio.com</string>
</dict>
</plist>